* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}

.top-nav{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 1.5em;
}

.hero {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)),
                url(https://www.travelinusa.us/wp-content/uploads/sites/3/2014/07/meteor-crater-arizona-1.jpg);
    background-size: cover;
}

.hero-h1 {
    font-size: 6rem;
}

.hero-h2 {
    font-size: 2rem;
    padding-bottom: 30px;
}

.search-btn {
    width: 250px;
    height: 50px;
    font-size: 1.25em;
    align-self: center;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: purple;   
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    align-self: center;
    padding: 1em;
}

/* App style starts here */

/* Search component style */

form {
    font-size: 1.125em;
    border: 1px solid rgb(37, 218, 165);
    background-color: rgb(215 245 236);
    padding: 20px 10px;
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: max-content minmax(100px, 1fr);
    gap: 1em;
    border-radius: 5px;
}

input:not([type="range"]) {
    height: 1.5rem;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 0 0.5em;
    font-size: 1.125rem;
}

div.search.btn-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

button.search {
    font-size: 1.125rem;
    border: none;
    border-radius: 25px;
    padding: 0.5em 2em;
}

button.search:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.search.search-button {
    background-color: purple;
    color: white;
}

.search.clear-button {
    background-color: white;
    border: 1px solid purple;
}

/* Style for Mass Range Slider */

.range_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em 0;
}

.sliders_control {
    position: relative;
    min-height: 30px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

.range_container input[type="number"] {
    color: #8a8383;
    width: 120px;
    height: 30px;
    font-size: 1.125rem;
    border: none;
}

.range_container input[type=number]::-webkit-inner-spin-button, 
.range_container input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}